/* entire block */
/* background color and opcatiy */
._74cy {
  background-color: #66666684;
}

/* box size */
._4-u3 {
  border-radius: 10px;
}

/* goal text */
._719t span {
  color: #000;
  font-family: Helvetica, sans-serif;
}

/* progress bar */
._717f {
  background: #dadde1;
  border-radius: 10px;
  height: 14px;
}

._6i-p {
  height: inherit;
}

/* progress completed */
._6i-u { 
	background:
  linear-gradient(63deg, #ffa308 23%, transparent 23%) 7px 0,
  linear-gradient(63deg, transparent 74%, #ffa308 78%),
  linear-gradient(63deg, transparent 34%, #ffa308 38%, #ffa308 58%, transparent 62%),
  #ffd894;
  background-size: 16px 48px;
  border-radius: 14px;
}