/* entire block */
/* background color and opcatiy */

body {
		background-color: rgba(0, 0, 0, 0);
		margin: 0px auto;
		overflow: hidden;
	}
	._4-u2 {
		border: 0
	}
	._4-u8 {
		background: none
	}

._719s {
  background-color: rgba(0, 0, 0, 0);
  	padding: 0px;
}

/* box size */
/*
._4-u2>._4-u3:first-child {
  border-radius: 10px;
}

._4-u2>._4-u3:last-child {
  border-radius: 10px;
}
*/
._719t {
  margin: 0px;
}

/* goal text */
._719t span {
  color: #fff !important;
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif !important;
  font-size: 3vw !important;
}

/* progress bar */
._717f {
  background: #dadde1;
  border-radius: 14px;
  height: 3.8vw;
}

._6i-p {
  height: inherit;
}

/* progress completed */
._6i-u { 
  background:
  linear-gradient(63deg, #ffa308 23%, transparent 23%) 7px 0,
  linear-gradient(63deg, transparent 74%, #ffa308 78%),
  linear-gradient(63deg, transparent 34%, #ffa308 38%, #ffa308 58%, transparent 62%),
  #ffd894;
  background-size: 16px 48px;
  animation: movingPattern 3s linear infinite;
  border-radius: 14px;
}

@keyframes movingPattern {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 48px 0;
  }
}
